.gaia-list li img {
  box-shadow: none;
}

.webapps .category {
  border-bottom: solid 1rem var(--background, #e7e7e7);
}

.webapps .category ul {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 1rem;
  background: var(--background-plus, #fff);
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  scrollbar-color: #858585 transparent;
  position: relative;
  scrollbar-width: thin;
}

.webapps .category ul > li {
  min-width: 10rem;
  max-width: 10rem;
  height: 14rem;
  float: left;
  overflow: hidden;
  display: block;
  opacity: 0;
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  animation: showApp 0.25s cubic-bezier(0.2, 0.9, 0.1, 1) forwards;
}

@keyframes showApp {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.webapps .category ul > li a {
  text-decoration: none;
  color: var(--text-color, #333);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.webapps .category ul li img {
  border-radius: 0;
  box-shadow: none;
  width: 5rem;
  height: 5rem;
  margin: 0 auto 1rem;
}

.webapps .category ul > li div {
  width: 100%;
}

.webapps .category ul > li p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.webapps .category ul > li p:first-child {
  font-size: 1.4rem;
}

.webapps .category ul > li p:last-child {
  color: var(--accent-color, #0061e0);
}

@media screen and (min-width: 600px) {
  .gaia-list ul {
    max-width: 768px;
    width: calc(100% - 2rem);
    display: block;
    overflow: hidden;
    border-radius: 1rem;
    background: var(--background-plus, #fff);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    margin: 1rem auto;
  }

  .webapps .category {
    border-bottom: none;
  }

  .webapps .category {
    margin: 1rem auto;
    background: var(--background, #e7e7e7);
    max-width: 768px;
    width: calc(100% - 2rem);
  }

  .gaia-list header {
    margin: 1rem auto;
    background: var(--background, #e7e7e7);
    max-width: 768px;
    width: calc(100% - 2rem);
    margin-bottom: -1rem;
    box-sizing: border-box;
  }
}
